VITE_SUPABASE_URL=https://uudmstcppezqlacoeyrs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1ZG1zdGNwcGV6cWxhY29leXJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NDIxOTUsImV4cCI6MjA5MDIxODE5NX0.PEYonefwjGMLwmWogVGLCTzQymLIkL5WqkNzuyE35xI
VITE_GOOGLE_CLIENT_ID=969413426632-73lu5e8l3ko14kmidecpc43f9og2etcs.apps.googleusercontent.com
